@inherits LayoutComponentBase

<div class="home-container">
    <div class="login-container">
        <ErrorBoundary>
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent Context="ex">
                @ex.Message
            </ErrorContent>
        </ErrorBoundary>
    </div>
</div>
